.profile {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__hello {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 123px 0;
}

.profile__container {
  width: 410px;
}

.profile__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile__flexbox {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: none;
  width: 100%;
  position: relative;
}

.profile__text {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding: 0;
  outline: none;
  border: none;
  text-align: end;
  width: 50%;
}

.profile__input:focus {
  border-bottom: 1px solid #2be080;
}

.form__inputError {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  width: 100%;
  position: absolute;
  top: 18px;
  left: 0;
  opacity: 0;
}

.form__inputError_active {
  opacity: 1;
}

.profile__errorMessage {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  width: 100%;
  position: absolute;
  bottom: 65px;
  left: 0;
  opacity: 0;
  text-align: center;
}

.profile__errorMessage_active {
  opacity: 1;
}

.profile__line {
  margin: 16px 0 17px 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 220px 0 0 0;
  padding: 10px 0;
  width: 100%;
  border-radius: 3px;
  cursor: auto;
}

.profile__edit_active {
  background: #2be080;
  color: #fff;
}

.profile__exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  margin: 16px 0 0 0;
}

@media screen and (max-width: 780px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__hello {
    margin: 0 0 96px 0;
  }

  .profile__edit {
    margin: 210px 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__hello {
    margin: 0 0 80px 0;
  }

  .profile__container {
    width: 260px;
  }

  .profile__edit {
    font-size: 12px;
    line-height: 15px;
    margin: 379px 0 0 0;
  }

  .profile__exit {
    font-size: 12px;
    line-height: 15px;
  }
}