.aboutProject {
  padding: 110px 70px;
  background-color: #fff;
}

.aboutProject__list {
  margin-top: 70px;
  display: flex;
  gap: 40px;
}

.aboutProject__item {
  width: 100%;
  max-width: 550px;
}

.aboutProject__subtitle {
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 0;
}
  
.aboutProject__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 26px 0 0 0;
}

.aboutProject__scale {
  font-size: 14px;
  line-height: 17px;
  margin-top: 110px;
  display: flex;
  text-align: center;
}
  
.aboutProject__backend {
  font-weight: 400;
  max-width: 228px;
  width: 100%;
  flex-shrink: 3.771;
}
  
.aboutProject__scale-backend {
  padding: 9px 0;
  background-color: #2be080;
}
  
.aboutProject__scale-description {
  color: #a0a0a0;
  margin-top: 14px;
}
  
.aboutProject__frontend {
  font-weight: 400;
  max-width: 912px;
  width: 100%;
  flex-shrink: 1;
}
  
.aboutProject__scale-frontend {
  padding: 9px 0;
  background-color: #f2f2f2;
}

@media screen and (max-width: 780px) {
  .aboutProject {
    padding: 90px 50px;
  }
  
  .aboutProject__list {
    gap: 30px;
  }

  .aboutProject__item {
    max-width: 319px;
  }
  
  .aboutProject__description {
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0 0 0;
  }

  .aboutProject__scale {
    margin-top: 93px;
  }
  
  .aboutProject__scale-backend {
    min-width: 100px;
  }
}
  
@media screen and (max-width: 480px) {
  .aboutProject {
    padding: 70px 18px;
  }
  
  .aboutProject__list {
    margin: 60px 0 0 0;
    flex-direction: column;
    gap: 56px;
  }
  
  .aboutProject__subtitle {
    font-size: 18px;
    line-height: 21.78px;
  }
  
  .aboutProject__description {
    font-size: 11px;
    line-height: 16px;
    margin: 16px 0 0 0;
  }

  .aboutProject__scale {
    font-size: 11px;
    line-height: 13.31px;
    margin-top: 60px;
    text-align: center;
  }
  
  .aboutProject__scale-backend {
    padding: 11px 0;
  }
  
  .aboutProject__scale-description {
    margin-top: 10px;
  }

  .aboutProject__scale-frontend {
    padding: 11px 0;
  }
}