.searchForm {
  padding: 70px 70px 10px 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.searchForm::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70px;
  width: calc(100% - 140px);
}

.searchForm__form {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: #f9f9f9;
}

.searchForm__set {
  padding: 19px;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
}

.searchForm__label {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchForm__img {
  object-position: center;
}

.searchForm__input {
  border: none;
  width: 100%;
  background-color: #f9f9f9;
  margin-left: 10px;
  font-size: 18px;
}

.searchForm__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.searchForm__flex {
  display: flex;
  justify-content: flex-end;
}

.button_type_search {
  display: grid;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  width: 100px;
  height: 52px;
  background-color:#3456F3 ;
  align-items: center;
  font-size: 14px;
}

.searchForm__line {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  margin-top: 43px;
}

@media screen and (max-width: 790px) {
  .searchForm {
    padding: 80px 30px 0px;
  }

  .searchForm::after {
    left: 30px;
    width: calc(100% - 60px);
  }

  .button_type_search {
    margin-right: 20px;
  }
}

@media screen and (max-width: 570px) {
  .searchForm {
    padding: 80px 10px 45px;
    flex-direction: column;
    gap: 30px;
  }

  .searchForm__set {
    padding: 20px 0px 20px 12px;
    width: calc(100% - 80px);
  }

  .searchForm::after {
    left: 10px;
    width: calc(100% - 20px);
  }

  .searchForm__form {
    border-radius: 9px;
    width: 100%;
    height: 56px;
  }

  .searchForm__img {
    display: none;
    padding: 0;
  }

  .searchForm__input {
    margin: 0;
    max-width: 100px;
    padding: 0;
  }

  .searchForm__input::placeholder {
    font-size: 14px;
  }

  .button_type_search {
    margin-right: 6px;
    width: 80px;
    height: 44px;
    font-size: 14px;
  }

  .searchForm__line {
    border-right: none;
  }
}