@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  color: #000;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: #000;
  margin: 0;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #00000000;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
  transition: 0.3s;
}