.filterCheckbox {
  display: flex;
  gap: 14px;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  margin-top: 26px;
}

.filterCheckbox__switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 36px;
}

.filterCheckbox__input {
  display: none;
}

.filterCheckbox__slider {
  background-color: #ebebeb;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.filterCheckbox__slider:before {
  background-color: #2be080;
  border: 1px solid #FFFFFF;
  bottom: 2.05px;
  content: "";
  height: 16px;
  left: 1.6px;
  top: 1px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

.filterCheckbox__input:checked + .filterCheckbox__slider {
  background-color: #ebebeb;
}

.filterCheckbox__input:checked + .filterCheckbox__slider:before {
  transform: translateX(16px);
}

.filterCheckbox__slider {
  border-radius: 20px;
}

.filterCheckbox__slider:before {
  border-radius: 50%;
}

@media screen and (max-width: 790px) {
  .filterCheckbox {
    gap: 15px;
  }
}

@media screen and (max-width: 570px) {
  .filterCheckbox {
    gap: 13px;
    align-items: center;
    font-size: 11px;
    line-height: 18px;
    background-color: #fff;
  }
}